@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

@keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

html, body {    
    overflow-x: hidden;    
    overflow-y: auto;
    width: 100%;
}

.barra {
    border-left: 2px solid #be8f35;
    height: 50px;
    margin: 0 10px;
}

body {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    bottom: 0;
    top: 0;
}

header a {
    color: #eab358;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #25173a;
    height: 90px;
    border: 1.5px solid #eab358;
    position: sticky;
    z-index: 9999;
}

.hide-header {
    transform: translateY(-100%);
  }

#logo {
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 5px;
}

#menu {
    position: relative;
    display: flex;
    gap: 10px;
    font-weight: bold;
    color: #eab358;
    right: 870px;
    align-items: center;
}

.logoKronos {
    height: 70px;
    width: auto;
}

#logo h1 {
    font-family: "Cinzel", serif;
    color: #eab358;
    font-size: 40px;
}

#telaInicio {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    top: 130px;
}

#telaInicio button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
    background: #370963;
    color: #eab358;
    border: 1.5px solid #eab358;
    cursor: pointer;
}

#telaInicio h1, p {
    text-align: center;
}

#telaInicio h1 {
    position: relative;
    color: #eab358;
    top: 20px;
}

#bordaoKronos {
    font-size: 40px;
}

#bordao {
    color: #eadaf5;
}

#engKronos1 {
    position: absolute;
    bottom: 370px;
    left: 1260px;
    height: 400px;
    animation: girar 10s linear infinite;
    z-index: 1;
}

#engKronos2 {
    position: relative;
    top: 85px;
    right: 115px;
    height: 400px;
    animation: girar 10s linear infinite;
}

#separacao1 {
    position: relative;
    background: #eadaf5;
    height: 150px;
}

.onda {
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 100%;
    height: 100px;
}

.prePag {
    background: #eadaf5;
}

#problemasQueResolvemos {
    position: relative;
    background: #25173a;
    border-radius: 30px;
    bottom: 45px;
    z-index: 9998;
}

#problemasQueResolvemos h1 {
    position: relative;
    text-align: center;
    color: #eab358;
    bottom: 23px;
}

.tituloResolvemos {
    position: relative;
    top: -50px;
}


table {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-spacing: 30px;
    white-space: nowrap;
}

td, th {
    background: #370963;
    border-radius: 15px;
    position: relative;
    bottom: 30px;
    border: #be8f35 solid;
    box-sizing: border-box;
}

td h1 {
    position: relative;
    top: 0px;
}

#sobrecarregado {
    height: 130px;
}

#calendario {
    height: 120px;
}

#confuso {
    position: relative;
    top: -20px;
    height: 150px;
}

#resolvemos1, #resolvemos2, #resolvemos3 {
    padding: 70px 100px;
}

.descricaoResolvemos {
    position: relative;
    font-family: "Montserrat", sans-serif;
    top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #eadaf5;
}

#sobrecarregadoResolvemos {
    position: relative;
    top: 5px;
}

#confusoResolvemos {
    position: relative;
    top: -13px;
}

#beneficiosQueTrazemos {
    background: #eadaf5;
    display: flex;
    justify-content: center;
}

#beneficiosQueTrazemos h1 {
    position: relative;
    font-weight: bolder;
    bottom: 25px;
    color: #370963;
}

#kroninhos1, #kroninhos2 {
    position: absolute;
    z-index: 2;
    height: 200px;
}

#kroninhos1 {
    left: 250px;
    bottom: -855px;
    transform: rotate(20deg);
}

#kroninhos2 {
    right: 250px;
    bottom: -770px;
    transform: rotate(200deg);
}

#telaBeneficiosQueTrazemos {
    position: relative;
    z-index: 9997;
    background: #25173a;
    padding: 70px;
    border-radius: 30px;
}

#distribuicaoTarefas, 
#parteSupervisor, 
#saudeColaborador {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.textosTelaBeneficiosQueTrazemosDireita, 
.textosTelaBeneficiosQueTrazemosEsquerda {
    background-color: #370963;
    padding: 0px 150px;
    border: 3px solid #eab358 ; 
    border-radius: 10px;
}

.textosTelaBeneficiosQueTrazemosDireita::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px; 
    height: 100%;
    background-color: #eab358;
    border-top-left-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
}

.textosTelaBeneficiosQueTrazemosEsquerda::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px; 
    height: 100%;
    background-color: #eab358;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
}

#textoDistribuicaoTarefas,
#textoSaudeColaborador {
    position: relative;
    left: 50px;
    text-align: center;
}

#textoParteSupervisor {
    position: relative;
    right: 50px;
    text-align: center;
}

#textoDistribuicaoTarefas h1,
#textoParteSupervisor h1,
#textoSaudeColaborador h1 {
    white-space: nowrap;
    font-size: 35px;
    color: #e6b648;
    line-height: 25px;
}

#textoDistribuicaoTarefas p,
#textoParteSupervisor p,
#textoSaudeColaborador p {
    font-size: 25px;
    color: #eadaf5;
    white-space: nowrap;
}

#visualDistribuicaoTarefas img,
#visualParteSupervisor img,
#visualSaudeColaborador img {
    height: 320px;
}

#textoSaudeColaborador {
    
}





